.main-div{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.mess-with > div{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  background-color: black;
  color: white;
}

.mess-with{
  background-color: black;
}

.title-bar{
  background-color: red;
}